/* Estilos para el modal de detalle de producto */
.modal-title {
    font-weight: bold;
}

#productPrice {
    font-size: 1.5rem;
    color: #28a745;
}

#productImage {
    border-radius: 5px;
    max-height: 250px;
}

@media (max-width: 768px) {
    #productImage {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.custom-input {
    width: 300px;
}

@media (max-width: 768px) {
    .custom-input {
        width: 50%;
    }
}

.logo {
    margin: 15px;
    align-self: center;
}

header {
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
    padding: 2px 20px;
    border-bottom: 1px solid #dee2e6;
    z-index: 1000;
}

body {
    padding-top: 60px;
}

.container.my-5 {
    margin-top: 20px;
}

.card {
    height: 300px; /* Ajusta la altura según sea necesario */
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro se apilen verticalmente */
}

.card img {
    max-height: 150px; /* Ajusta la altura máxima de la imagen */
    width: 100%;
    object-fit: contain;
}

.card-body {
    flex-grow: 1; /* Asegura que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacia los elementos en la tarjeta */
}

/* Nuevos estilos para la bandera de disponibilidad */
.badge {
    position: absolute; /* Posiciona la bandera dentro del contenedor de la tarjeta */
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta para que quede a la derecha */
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: white; /* Texto blanco para mejor contraste */
}

.available {
    background-color: green; /* Color verde para disponibilidad */
}

.out-of-stock {
    background-color: red; /* Color rojo para agotado */
}
